@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding-top: 5px;
    padding-left: 10px;
    max-width: 400px;
    margin-right: 50px;
    background-color: #4C5270;
    font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    margin-right: 1rem;
}

